.App {
  text-align: center;
}

.btns{
  display: flex;
  align-items: middle;
  justify-content: space-between;

    gap: 5rem;
}
.btns button{
  vertical-align: middle;
  /* padding: 10px;
  border-radius: 10px;
  width: fit-content; */
  padding: 10px;
  border-radius: 10px;
  width: 200px;
}
.secondary{
border: 1px solid black;
}
.primary{
  background-color: black;
  color: red;
}

h1, h3{
  display: block;
  font-size: 1.17em;
  margin-block-start: 10px;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}