.mainContainer{
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    width: 90%;

}
.summary p {
    display: flex;
    text-align: left;
}
.filter-section{
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    padding: 2rem;
    width: 100%;

}
.movie-car{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-around;
}
.container-movie{
    /* display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 350px;
    height: fit-content;
    min-height: 500px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #d3d3d3;
    width: 350px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 0.5rem;
    height: 509px;
    
}
.container-movie p{
    flex-grow: 1;
}
/* .container-movie button{
    flex-grow: 1;
} */
.image, img{
    display: flex;
    width: 350px;
    height: 300px;
    border: 1px;
    border-radius: 23px;


}