
.movie-car{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}
.container-movie{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 250px;
    height: fit-content;

}
.image, img{
    display: flex;
    width: 250px;
    height: 200px;

}